snippets_path="~/Documents/Automations/Snippets"
applescript_path="~/Documents/Automations/AppleScripts"
shell_path="~/Documents/Automations/ShellCommands"
sounds_path="~/Documents/Automations/Sounds"
applications_path="/Applications"

$ afplay ${sounds_path}/scifi.wav